body {
	background-color: #fafafa;
}

paper-card {
  margin-bottom: 16px;
}

form {
  max-width: 800px;
}

.anchor-button {
  color: inherit;
  background-color: inherit;
}

.top-buttons {
  margin-bottom: 16px;
}

.padding-between-columns td
{
  padding: 0 15px 0 15px;
}

#main-section {
  margin-left: 16px;
  margin-top: 16px;
}

#proxy-card-holder {
  max-width: 800px;
}

#user-card-holder {
  max-width: 600px;
}

#channels-card-holder {
  max-width: 600px;
}

#notifications-card {
  max-width: 800px;
}
