{% extends "templates/base.html" %}
{% block title %}Add Users{% endblock %}
{% block body %}
  {% if error%}
    <p>An error occurred while processing the request. Please retry or select another query. The error text is below.</p>
    <p>{{ error }}</p>
  {% endif %}
  {% if directory_users%}
    <form method="post" action="https://{{ host }}/user/add">
      <br><br>
      Select Users to Add.
      <br><br>
      <table>
        <tr>
          <th>-</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      {% for directory_user in directory_users %}
        <tr>
          <td><input type="checkbox" name="selected_user" value="{{ directory_user }}"></td>
          <td>{{ directory_user['name']['fullName'] }}</td>
          <td>{{ directory_user['primaryEmail'] }}</td>
        </tr>
      {% endfor %}
      </table>
      <input type="hidden" name="xsrf" value="{{ xsrf_token }}">
      <input type="submit" value="Add Selected Users">
    </form>
  {% else %}
    <p>No users found. Try another query below.</p>
  {% endif %}
  <br><br>


  <form method="get" action="https://{{ host }}/user/add">
    <br><br>
    Input a group key (group email address or unique id) to fetch more users.
    <br><br>
    <input type="textbox" name="group_key" value="{{ group_key }}">
    <br><br>
    <input type="submit" value="Fetch Users From Group">
  </form><br>
  <form method="get" action="https://{{ host }}/user/add">
    <br><br>
    Input user key (email address or unique id) to search for a specific user.
    <br><br>
    <input type="email" name="user_key" value="{{ user_key }}">
    <br><br>
    <input type="submit" value="Search for Specific User">
  </form><br>
  <form method="get" action="https://{{ host }}/user/add">
    <input type="hidden" name="get_all" value="true">
    <input type="submit" value="Fetch All Users in Domain">
  </form><br>
{% endblock %}
