<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="import" href="/bower_components/polymer/polymer.html" />
    <link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html" />
    <link rel="import" href="/static/sidebar.html" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <paper-drawer-panel>
        <div drawer>
            <ufo-sidebar></ufo-sidebar>
        </div>
        <section main class="fit">
            {% block body %}{% endblock %}
        </section>
    </paper-drawer-panel>
</body>
</html>
