{% block body %}
  <a href="http://{{ host }}/proxyserver/add">add new proxy server</a><br /><br />
  entity id, ip address, private key, fingerprint
  <ul>
  {% for proxy_server in proxy_servers %}
    <li>
      {{ proxy_server.key.id() }},
      {{ proxy_server.ip_address }},
      {{ proxy_server.ssh_private_key }},
      {{ proxy_server.fingerprint }}
      <a href="http://{{ host }}/proxyserver/delete?id={{ proxy_server.key.id() }}">
        delete
      </a>
    </li>
    <br />
  {% endfor %}
  </ul>
{% endblock %}
