{% extends "templates/base.html" %}
{% block title %}Proxy Server(s){% endblock %}
{% block body %}
  <a href="{{ BASE_URL }}/proxyserver/add">add new proxy server</a><br><br>
  name, ip address, private key, fingerprint
  <ul>
  {% for proxy_server in proxy_servers %}
    <li>
      {{ proxy_server.name }},
      {{ proxy_server.ip_address }},
      {{ proxy_server.ssh_private_key }},
      {{ proxy_server.fingerprint }}
      <a href="{{ BASE_URL }}/proxyserver/edit?id={{ proxy_server.key.id() }}">
        edit
      </a>
      &bull;
      <a href="{{ BASE_URL }}/proxyserver/delete?id={{ proxy_server.key.id() }}">
        delete
      </a>
    </li>
    <br>
  {% endfor %}
  </ul>
{% endblock %}
