{% extends "templates/base.html" %}
{% block title %}Setup OAuth Client{% endblock %}
{% block body %}
  <form method="post" action="{{ BASE_URL }}/setup/oauthclient">
    client_id:<br>
    <input type="text" name="client_id" value="{{ client_id }}">
    <br>
    client_secret:<br>
    <input type="text" name="client_secret" value="{{ client_secret }}">
    <br>
    Domain Verification Meta Tag Content:<br>
    <p>Please input the text from the content field of a meta tag supplied by Google for domain verification. You can find this data by going to Search Console and clicking on your project, such https://your-project-name-here.appspot.com/. Inside your project, click the gear logo and go to Verification Details. From here, you need to find the HTML tag method of verification. Inside the meta tag is a field called content. Copy everything between the double-quotes for content and paste it into this box. Once you've submitted this form, you can go back to your project in appspot and click Verify to complete verification.</p>
    <input type="text" name="dv_content" value="{{ dv_content }}">
    <br><br>
    <input type="hidden" name="xsrf" value="{{ xsrf_token }}">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
