{% extends "templates/base.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  <link rel="import" href="/bower_components/paper-button/paper-button.html" />
  <link rel="import" href="/bower_components/paper-item/paper-item.html" />
  <link rel="import" href="/bower_components/paper-listbox/paper-listbox.html" />
{% endblock %}
{% block body %}
  <a href="{{ BASE_URL }}/user/add">
    <paper-button raised class="anchor-button">Add Users</paper-button></a>
  <a href="{{ BASE_URL }}/user/listTokens">
    <paper-button raised class="anchor-button">List Tokens</paper-button></a>
    <br />
  {% if invite_code %}
    <h4>Invite Code Below</h4>
    <textarea rows="20" cols="80">{{ invite_code }}</textarea><br>
  {% endif %}
  <paper-listbox>
  {% for key, email in user_payloads.iteritems() %}
    <paper-item>{{ email }}
      <a href="{{ BASE_URL }}/user/delete?key={{ key }}">
        <paper-button raised class="anchor-button">Delete User
      </paper-button></a>
      <a href="{{ BASE_URL }}/user/getInviteCode?key={{ key }}">
        <paper-button raised class="anchor-button">Get Invite Code
      </paper-button></a>
      <a href="{{ BASE_URL }}/user/getNewToken?key={{ key }}">
        <paper-button raised class="anchor-button">Get New Token
      </paper-button></a>
    </paper-item>
    <br />
  {% endfor %}
  </paper-listbox>
{% endblock %}
