{% extends "templates/base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
  <a href="http://{{ host }}/user/add">Add Users</a><br />
  <a href="http://{{ host }}/user/listTokens">List Tokens</a><br />
  <ul>
  {% for key, email in user_payloads.iteritems() %}
    <li>{{ email }}
      <a href="http://{{ host }}/user/delete?key={{ key }}">(Delete User)</a>
      <a href="http://{{ host }}/user/getNewToken?key={{ key }}">(Get New Token)</a>
      <br />
    </li>
    <br />
  {% endfor %}
  </ul>
{% endblock %}
