{% extends "templates/base.html" %}
{% block title %}User Details{% endblock %}
{% block head %}
  <link rel="import" href="/bower_components/iron-collapse/iron-collapse.html" />
  <link rel="import" href="/bower_components/paper-button/paper-button.html" />
  <link rel="import" href="/bower_components/paper-card/paper-card.html" />
{% endblock %}
{% block body %}
  <div id="user-card-holder">
    <paper-card heading="{{ user.name }}">
      <div class="card-content">
        <p>{{ user.name }}, {{ user.email }}</p>
        <p>Access Status: <b>
          {% if user.is_key_revoked %}
            Revoked
          {% else %}
            Enabled
          {% endif %}
        </b></p>
        <paper-button onclick="toggleCollapse('collapse-pri')">Show/hide SSH Private Key</paper-button>
        <iron-collapse id="collapse-pri"><div>{{ user.private_key }}</div></iron-collapse><br>
        <paper-button onclick="toggleCollapse('collapse-pub')">Show/hide SSH Public Key</paper-button>
        <iron-collapse id="collapse-pub"><div>{{ user.public_key }}</div></iron-collapse>
      </div>
      <div class="card-actions">
        <a href="{{ BASE_URL }}{{ user_delete_path }}?key={{ key }}">
          <paper-button raised class="anchor-button">Delete User
        </paper-button></a>
        <a href="{{ BASE_URL }}{{ user_get_invite_code_path }}?key={{ key }}">
          <paper-button raised class="anchor-button">Get Invite Code
        </paper-button></a>
        <a href="{{ BASE_URL }}{{ user_get_new_key_pair_path }}?key={{ key }}">
          <paper-button raised class="anchor-button">Rotate Key Pair
        </paper-button></a>
        <a href="{{ BASE_URL }}{{ user_toggle_revoked_path }}?key={{ key }}">
          <paper-button raised class="anchor-button">Revoke/Unrevoke Access
        </paper-button></a>
      </div>
    </paper-card>
    {% if invite_code %}
      <paper-card heading="Invite Code Below">
        <textarea rows="20" cols="80">{{ invite_code }}</textarea><br>
      </paper-card>
    {% endif %}
  </div>
{% endblock %}
